@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif
}

.container {
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: gray;
    display: flex;
    align-items: center
}

.center {
    align-items: center;
}

.text-title, .text-login, .link {
    text-align: center;
}

.text-title {
    font-family: 'Tilt Prism', cursive;
    padding-top: 30px;
}

.link {
    color: #3f51b5;
    text-decoration: underline;
    cursor: pointer;
}

.text-wall{
    position: absolute;
    top: 200px;
    left: 30px;
    bottom: 40px;
    z-index: 2;
    margin: 0;
    padding: 0 ;
    
}